# Переименуй меня в просто .env

BOT_TOKEN=

# Чаты где бот вообще работает (можно несколько)
CONTROL_CHAT_IDS=

# Куда слать алерты
ALERT_CHAT_IDS=123456789,123123123,456456456

# Админы (полный доступ)
ADMIN_IDS=123456789,123123123,456456456

# Пользователи (если пусто — все могут смотреть)
USER_IDS=

PROMETHEUS_URL=https://prometheus.domen.com
PROMETHEUS_USER=admin
PROMETHEUS_PASS=P@$$w0rd
# Если есть нормальный серт от Cloudflare например
# Если самоподписанный, лучше поставить false
PROMETHEUS_VERIFY_SSL=true

# Фильтр по label job для запросов к Prometheus (например: nodes)
JOB_FILTER=nodes
# Таймаут HTTP-запросов к Prometheus в секундах
HTTP_TIMEOUT=10
# Время жизни кэша ответов Prometheus в секундах
PROM_CACHE_TTL=10

# Интервал опроса метрик в секундах
POLL_SECONDS=30
# Сколько секунд хост должен быть недоступен, чтобы считать это подтверждённым падением
DOWN_CONFIRM_SECONDS=360
# Сколько секунд хост должен быть доступен, чтобы считать это подтверждённым восстановлением
UP_CONFIRM_SECONDS=15
# Порог заполнения диска в процентах для срабатывания алерта
DISK_ALERT_PCT=90
